* {
  margin: 0px;
  padding: 0px;
}
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.inter {
  font-family: "Inter", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap");
.noto {
  font-family: "Noto Serif", serif;
}
.max {
  max-width: 1140px;
  margin: auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-btn {
  display: flex;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar-btn li,
a {
  list-style: none;
  text-decoration: none;
  color: #8987a1;
  margin-left: 20px;
}
.navbar-btn li,
a:hover {
  color: #070709;
  font-weight: bold;
}
.nav-right {
  display: flex;
}
.cart {
  color: #8987a1;
  font-weight: bold;
}
/* navbar end */
.banner-container {
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  margin-top: 120px;
}
.left-side h1 {
  font-size: 4.06rem;
  margin-bottom: 13px;
}
.left-side p {
  font-size: 1.375rem;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
.right-side {
}
.font-color {
  color: #e95a08;
}
/* plant section start */
.plants-section {
  text-align: center;
  margin-top: 120px;
}
.plants-section h2 {
  font-size: 3.1rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.plants-section p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  margin: auto;
}
.cards {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.card {
  width: 270px;
  height: 510px;
  text-align: center;
  margin-bottom: 20px;
}
.card h4 {
  font-size: 1.3rem;
  color: #111111;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}
.card h3 {
  font-size: 1.3rem;
  color: #111111;
  font-weight: 700;
  margin-bottom: 30px;
}
.card button {
  background-color: #e95a08;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  width: 270px;
  height: 50px;
  border: none;
}
/* lover section start */
.lover-section {
  display: flex;
  align-items: center;
  gap: 60px;
  margin-top: 210px;
  margin-bottom: 210px;
  position: relative;
}
.badge {
  width: 286px;
  height: 286px;
  position: absolute;
  left: 347px;
  top: -120px;
}
.und-right-side-love {
  width: 540px;
  /* height: 521px; */
  /* border: 1px solid tomato; */
}
.und-right-side-love h2 {
  font-size: 4.15rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: left;
}
.list-item {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-left: 30px;
}

/* join section start */
.join-section {
  margin-top: 120px;
  height: 420px;
  /* width: 1440px; */
  margin: auto;
  background-image: url("../assets/news-letter-bg.png");
  background-size: cover;
  padding-top: 350px;
}
.title {
  font-size: 4.15rem;
  color: white;
  font-weight: bold;
  text-align: center;
}
.join-input {
  text-align: center;
  align-items: center;
}
.email-input {
  color: rgba(0, 0, 0, 0.5);
  padding: 15px;
  font-size: 1rem;
  font-weight: 500;
  width: 644px;
}
.btn-input {
  background-color: #e95a08;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  /* width: 270px;
  height: 50px; */
  border: none;
  padding: 15px;
}
/* footer section start */
.footer-section {
  display: flex;
  justify-content: space-between;
  width: 1120px;
  margin: auto;
  margin-top: 50px;
}
.color {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
  width: 359px;
  margin-top: 16px;
}
.padding {
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.logo img {
  margin-left: 20px;
  align-items: center;
}
.banner-container {
}
.list-footer ul {
  list-style: none;
}
/* latest deal section start */
.latest-section {
  margin-bottom: 120px;
}
.deal-section {
  text-align: center;
}
.deal-section-title {
  font-size: 4.15rem;
  font-weight: bold;
  margin-bottom: 16px;
}
.deal-section-p {
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.5);
  width: 888px;
  margin: auto;
  margin-bottom: 120px;
}
.images {
  display: flex;
  width: 1140px;
  margin: auto;
  justify-content: space-between;
}
.tow-image img {
  display: flex;
}
.first-img {
  margin-bottom: 12px;
  background-image: url("../assets/deal-ana.png");
  position: relative;
  width: 366.22px;
  height: 206px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.first-img::before {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  content: "";
  width: 366.22px;
  height: 206px;
  top: 0;
  left: 0;
  border-radius: 10px;
}
.second-img {
  background-image: url("../assets/deal-bloom.png");
  position: relative;
  width: 366.22px;
  height: 206px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  margin-bottom: 12px;
}
.second-img::before {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  content: "";
  width: 366.22px;
  border-radius: 10px;
  height: 206px;
  top: 0;
  left: 0;
}
.one-image {
  background-image: url("../assets/deal-zabo.png");
  position: relative;
  width: 753px;
  height: 423.13px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
.one-image::before {
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  content: "";
  width: 753px;
  height: 423.13px;
  border-radius: 10px;
  top: 0;
  left: 0;
}
.off {
  font-size: 1.25rem;
  position: absolute;
  font-weight: bold;
  color: white;
  left: 80px;
  top: 65px;
}
.shop {
  position: absolute;
  font-weight: 400;
  color: white;
  left: 144px;
  top: 111px;
}
.big {
  font-size: 2.35rem;
  position: absolute;
  font-weight: bold;
  color: white;
  left: 200px;
  top: 172px;
}
.now {
  position: absolute;
  font-size: 1.75rem;
  font-weight: 400;
  color: white;
  left: 305px;
  top: 250px;
}
.hide {
  display: none;
}
@media screen and (max-width: 576px) {
  .navbar img {
    width: 50%;
  }
  .navbar {
    width: 90%;
    align-items: center;
    margin-top: 10px;
  }

  .nav-right ul {
    display: none;
  }
  .banner-container {
    flex-direction: column-reverse;
    margin-top: 20px;
  }
  .right-side img {
    width: 100%;
    /* height: 245px; */
    margin-top: 0px;
  }
  /* .left-side {
    width: 370px;
  } */
  .left-side h1 {
    font-size: 2rem;
    font-weight: bold;
    /* margin-top: 28px;
    margin-bottom: 13px; */
    margin: 28px 16px 13px;
  }
  .left-side p {
    font-size: 1rem;
    margin: 8px 16px 13px;
  }
  .plants-section {
    margin-top: 65px;
  }
  .plants-section p {
    width: 336px;
    font-size: 1rem;
    margin-bottom: 30px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 362px;
    margin: auto;
  }
  .card {
    width: 171px;
    height: 332.5px;
    /* border: 1px solid tomato; */
    margin-bottom: 15px;
  }
  .card img {
    width: 171px;
    height: 196.5px;
  }
  .card button {
    width: 171px;
    height: 50px;
  }
  .card h4 {
    font-size: 1rem;
    color: #111111;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .card h3 {
    font-size: 1.3rem;
    color: #111111;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .lover-section {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 140px;
    gap: 0px;
  }
  .left-side-love img {
    width: 358px;
    height: 396px;
  }
  .badge {
    display: none;
  }
  .und-right-side-love h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: left;
  }
  .und-right-side-love {
    width: 361px;
    margin-top: 20px;
  }
  .list-item {
    font-size: 1.1rem;
  }
  .deal-section {
    text-align: center;
  }
  .deal-section-title {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 16px;
  }
  .deal-section-p {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    width: 350px;
    margin: auto;
    margin-bottom: 45px;
  }
  .images {
    flex-direction: column;
    width: 365px;
  }
  .one-image {
    width: 365px;
    height: 177px;
  }
  .one-image::before {
    width: 365px;
    height: 177px;
  }
  .big {
    font-size: 1.25rem;
    position: absolute;
    font-weight: bold;
    color: white;
    left: 80px;
    top: 50px;
  }
  .now {
    position: absolute;
    font-size: 0.95rem;
    font-weight: 400;
    color: white;
    left: 140px;
    top: 100px;
  }
  .title {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
  .join-section {
    margin-top: 120px;
    height: 200px;
    /* width: 1440px; */
    margin: auto;
    background-image: url("../assets/news-letter-bg.png");
    background-size: cover;
    padding-top: 100px;
  }
  .email-input {
    color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    font-size: 1rem;
    font-weight: 500;
    width: 218px;
  }
  .footer-section {
    flex-direction: column;
    width: 359px;
  }
}
